ChatBot20.xcodeproj/project.xcworkspace/xcuserdata/mikita.xcuserdatad/UserInterfaceState.xcuserstate
ChatBot20.xcodeproj/xcuserdata/mikita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChatBot20/Resorces/Assets.xcassets/CustomAdditionalAvatars/.DS_Store
ChatBot20/Resorces/Assets.xcassets/CustomAvatars/.DS_Store
ChatBot20/AllChatsViewController/SubViews/.DS_Store
ChatBot20/AllChatsViewController/.DS_Store
*.xcuserstate
myFirstApp.xcodeproj/xcuserdata/mikita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
myFirstApp/AdditionalSreens/.DS_Store
myFirstApp/AdditionalSreens/AIProfileVC/.DS_Store
myFirstApp/Systems/Assets.xcassets/mainAvatars/real/.DS_Store
myFirstApp/Features/.DS_Store
myFirstApp/AdditionalSreens/Games/.DS_Store
myFirstApp/Systems/.DS_Store
myFirstApp/.DS_Store
myFirstApp/Features/Search/.DS_Store
