ChatBot20.xcodeproj/project.xcworkspace/xcuserdata/mikita.xcuserdatad/UserInterfaceState.xcuserstate
ChatBot20.xcodeproj/xcuserdata/mikita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChatBot20/Resorces/Assets.xcassets/CustomAdditionalAvatars/.DS_Store
ChatBot20/Resorces/Assets.xcassets/CustomAvatars/.DS_Store
ChatBot20/AllChatsViewController/SubViews/.DS_Store
ChatBot20/AllChatsViewController/.DS_Store
